{% extends "mobile_base.html" %}

{% block page-styles %}
{% style "/Swiper/dist/css/swiper.min.css" %}
{% style "/css/mobile.css" %}
{% endblock %}

{% block content %}
<div class="m-home" id="home">
  <!-- top banner -->
  <div class="ic-header">
    <!-- Slider main container -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide banner-item">
          <table class="center-img-wrapper">
            <tr>
              <td><img class="banner-1" src="/banners/banner1.jpg" width="100%"/></td>
            </tr>
          </table>
        </div>
        <div class="swiper-slide banner-item">
          <table class="center-img-wrapper">
            <tr>
              <td><img class="banner-2" src="/banners/banner2.jpg" width="100%"/></td>
            </tr>
          </table>
        </div>
        <div class="swiper-slide banner-item">
          <table class="center-img-wrapper">
            <tr>
              <td><img class="banner-3" src="/banners/banner3.jpg" width="100%"/></td>
            </tr>
          </table>
        </div>
      </div>
      <!--<div class="swiper-pagination"></div>-->
    </div>
    <div class="ic-header-names text-center">
      <span id="bridegroom_text">新郎名字</span>
      <span> & </span>
      <span id="bride_text">新娘名字</span>
    </div>
    <div class="ic-header-subtitle text-center">are getting married!</div>
  </div>
  <div class="ic-date-cd text-center clearfix">
    <div class="ceremony-title">The ceremony begins in:</div>
    <div style="margin-bottom: 10px;"><img src="/img/main-nav-divider.png"></div>
    <div class="number-count first">
      <div id="days" class="number-text">00</div>
    </div>
    <div class="number-count">
      <div id="hours" class="number-text">00</div>
    </div>
    <div class="number-count">
      <div id="minutes" class="number-text">00</div>
    </div>
    <div class="number-count">
      <div id="seconds" class="number-text">00</div>
    </div>
  </div>
  <div class="ic-location col-lg-10" id="content_text">
    <div>我们的婚礼由您见证更加幸福</div>
    <div>2015年2月24日[农历乙未年 戊寅月 辛未日]星期二</div>
    <div>恭请 各位 届时光临</div>
    <div>新郎：蒋文林</div>
    <div>新娘：唐佩</div>
  </div>
</div>
<div class="m-gallery" id="gallery"></div>
<div class="m-rvsp" id="rvsp"></div>
<!-- bottom tabs -->
<div style="bottom: 0;position: absolute; width: 100%;">
  <ul class="nav nav-tabs bottom-tabs">
    <li class="active"><a href="#home" data-toggle="tab">首页</a></li>
    <li><a href="#gallery" data-toggle="tab">相册</a></li>
    <li><a href="#rvsp" data-toggle="tab">祝福</a></li>
  </ul>
</div>
{% endblock %}

{% block page-scripts %}
{% script "/Swiper/dist/js/swiper.min.js" %}
<script>
  var receiver = {
    data: {},
    setData: function(data) { this.data = data; },
    setBanner: function(images) {
      for (var i = 0; i < images.length; i++) {
        $('.banner-'+(i+1)).prop('src', images[i]);
      }
    },
    setNames: function(names) {
      names['bridegroom'] && $('#bridegroom_text').text(names['bridegroom']);
      names['bride'] && $('#bride_text').text(names['bride']);
    },
    setContent: function(content) {
      $('#content_text').html(content);
    },
    refresh: function() {
      this.setNames(this.data['name']);
      this.setBanner(this.data['banner']);
      this.setContent(this.data['content']);
    }
  };

  /**
   * receive data from parent
   * @param data
   */
  function receive(data) {
    receiver.setData(data);
    receiver.refresh();
  }

  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    autoplay: 5000
//    pagination: '.swiper-pagination'
  });
</script>
{% endblock %}