{% extends "base.html" %}

{% block page-styles %}
{% style "/jQuery-File-Upload-9.11.2/css/style.css" %}
{% style "/jQuery-File-Upload-9.11.2/css/jquery.fileupload.css" %}
{% style "/jQuery-File-Upload-9.11.2/css/jquery.fileupload-ui.css" %}
{% style "/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}
{% endblock %}

{% block content %}

<div class="row">
  <!-- left form -->
  <div class="col-md-7 jumbotron" id="base">
    <div class="form-horizontal">
      <legend>信息填写</legend>
      <div class="form-group">
        <label for="bridegroom_name" class="col-md-2 control-label">新郎</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="bridegroom_name" id="bridegroom_name" placeholder="新郎名字">
        </div>
      </div>
      <div class="form-group">
        <label for="bride_name" class="col-md-2 control-label">新娘</label>
        <div class="col-md-10">
          <input type="text" class="form-control" name="bride_name" id="bride_name" placeholder="新娘名字">
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">滚动图片</label>
        <div class="col-md-10">
          <div class="banner-images-wrap clearfix">
            <div class="banner-img-add banner-img-add-1 col-xs-4">
              <img src="/img/add.png" class="col-xs-12">
              <button type="button" class="close">×</button>
            </div>
            <div class="banner-img-add banner-img-add-2 col-xs-4">
              <img src="/img/add.png" class="col-xs-12">
              <button type="button" class="close">×</button>
            </div>
            <div class="banner-img-add banner-img-add-3 col-xs-4">
              <img src="/img/add.png" class="col-xs-12">
              <button type="button" class="close">×</button>
            </div>
          </div>
          <div>
            <span class="btn btn-success fileinput-button">
              <i class="glyphicon glyphicon-plus"></i>
              <span>添加...</span>
              <input type="file" id="add_banner_images" name="banner_images" data-url="/upload/banner">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label for="datetime" class="col-md-2 control-label">举办时间</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="datetime" id="datetime" placeholder="举办时间"/>
          </div>
        </div>
        <div class="form-group">
          <label for="content" class="col-md-2 control-label">请柬内容</label>
          <div class="col-md-10">
            <textarea class="form-control" rows="6" name="content" id="content"></textarea>
            <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
          </div>
        </div>
        <div class="hidden-fields">
          <input type="hidden" name="bridegroom_name">
          <input type="hidden" name="bride_name">
          <input type="hidden" name="banner_images">
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-6 text-right">
            <button type="submit" class="btn btn-primary" onclick="saveBasicInfo();">下一步</button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="col-md-7 jumbotron" style="display: none;" id="gallery">
    <div class="form-horizontal">
      <legend>相册</legend>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12">
          <div class="banner-images-wrap clearfix">
            <div class="row col-xs-12">
              <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>添加...</span>
                <input type="file" name="banner_images" id="photo-select" data-url="/upload/banner" multiple>
              </span>
            </div>
            <div id="photos" class="col-md-12"></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-6 text-right">
          <button type="submit" class="btn btn-primary">上一步</button>
          <button type="submit" class="btn btn-primary">完成</button>
        </div>
      </div>
    </div>
  </div>
  <!-- right preview -->
  <div class="col-md-5">
    <div class="row">
      <div class="phone">
        <div>
          <img class="phone-appearance" src="/img/snapshot_bg.png" alt="Snapshot"/>
        </div>
        <div class="phone-screen">
          <iframe src="/preview" frameborder="0" id="preview_frame" class="preview-frame"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block page-scripts %}
{% script "/jQuery-File-Upload-9.11.2/js/vendor/jquery.ui.widget.js" %}
{% script "/jQuery-File-Upload-9.11.2/js/jquery.iframe-transport.js" %}
{% script "/jQuery-File-Upload-9.11.2/js/jquery.fileupload.js" %}
{% script "/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}
{% script "/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" %}
<script>
  var bannerImages = {
    data: [],
    add: function(val) {
      if ($.inArray(val, this.data) < 0) {
        this.data.push(val);
        $('.banner-img-add-'+this.data.length+' img:eq(0)')
            .prop('src', this.data[this.data.length-1]);
      }
    },
    remove: function(val) {
      for (var i = 0; i < this.data.length; i++) {
        if (val == this.data[i]) {
          delete this.data[i];
        }
      }
    },
    all: function() {
      return this.data.join(";");
    },
    images: function() {
      return this.data;
    },
    each: function(f) {
      for (var index = 0; index < this.data.length; index++) {
        f(index, this.data[index]);
      }
    }
  };

  var datum = {
    fields: ['banner', 'name', 'dateTime', 'content'],
    data: {banner: [], name: {}},
    setBanner: function(images) { this.data['banner'] = images; },
    setName: function(name, value) { this.data['name'][name] = value; },
    setDateTime: function(dateTime) { this.data['dateTime'] = dateTime; },
    setContent: function(content) { this.data['content'] = content; },
    setPhotos: function(photos) { this.data['photos'] = photos; },
    transfer: function() {
      var iFrameWin = $('#preview_frame').get(0).contentWindow.window;
      iFrameWin.receive(this.data);
    },
    validate: function() {
      if (this.data.length <= 0) {
        return false;
      }
      for (var i in this.fields) {
        var field = this.fields[i];
        if (this.data[field] && this.data[field].length <= 0) {
          return false;
        }
      }
      return true;
    }
  };

  var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
  var photos = [];

  function setHiddenFields(name, value) {
    $('.hidden-fields input[name='+name+']').val(value);
  }

  function saveBasicInfo() {
    if (datum.validate()) {
      $.post('/make/save/basic', datum.data, function(data) {
        console.log(data);
      }, 'json');
      $('#base').hide();
      $('#gallery').show();
    } else {
      alert('您还有信息没有填写完整');
    }
  }

  $(function() {
    $('#bridegroom_name').keyup(function() {
      var text = $.trim($(this).val());
      datum.setName('bridegroom', text);
      setHiddenFields('bridegroom_name', text);
      datum.transfer();
    });
    $('#bride_name').keyup(function() {
      var text = $.trim($(this).val());
      datum.setName('bride', text);
      setHiddenFields('bride_name', text);
      datum.transfer();
    });
    $('#datetime')
        .datetimepicker({ startDate: new Date(), format: 'yyyy-mm-dd hh:ii' })
        .on('changeDate', function(ev) {
          datum.setDateTime(new Date(ev.date));
          datum.transfer();
        }
    );
    $('#content').keyup(function() {
      var text = $.trim($(this).val()).replace(/\n/g, '<br>');
      datum.setContent(text);
      datum.transfer();
    });

    $('.banner-img-add').hover(function() {
      $(this).find('.close').show();
    }, function() {
      $(this).find('.close').hide();
    });
    $('.banner-img-add .close').click(function() {
      var img = $(this).parent().find('img');
      bannerImages.remove(img.attr('src'));
      img.attr('src', '/img/add.png');
      setHiddenFields('banner_images', bannerImages.all());
      datum.setBanner(bannerImages.images());
      datum.transfer();
    });

    $('#add_banner_images').fileupload({
      dataType: 'json',
      maxFileSize: 3,
      add: function(e, data) {
        if(data.originalFiles[0]['type'] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
          alert('Not an accepted file type');
          return;
        }
        if(data.originalFiles[0]['size'] && data.originalFiles[0]['size'] > 1048576) {
          alert('Filesize is too big');
          return;
        }
        data.submit();
      },
      done: function (e, data) {
        $.each(data.result, function (index, file) {
          bannerImages.add(file.name);
        });
        bannerImages.each(function(i, url) {
          setHiddenFields('banner_images', bannerImages.all());
          datum.setBanner(bannerImages.images());
          datum.transfer();
        });
      }
    });

    $('#photo-select').fileupload({
      dataType: 'json',
      maxFileSize: 2,
      add: function(e, data) {
        if(data.originalFiles[0]['type'] && !acceptFileTypes.test(data.originalFiles[0]['type'])) {
          alert('Not an accepted file type');
          return;
        }
        if(data.originalFiles[0]['size'] && data.originalFiles[0]['size'] > 1048576) {
          alert('Filesize is too big');
          return;
        }
        if (photos.length >= 10) {
          alert('不能超过1张照片');
          return;
        }
        data.submit();
      },
      done: function (e, data) {
        $.each(data.result, function (index, file) {
          for (var i in photos) {
            if (photos[i].name == file.name) {
              alert('您已经添加过这张照片！');
              return;
            }
          }
          photos.push(file);
        });
        $('#photos').html('');
        $(photos).each(function(index) {
          $('#photos').append($(
              '<div class="banner-img-add banner-img-add-1 col-xs-3 top-20">' +
              '<img src="'+photos[index].thumbnailUrl+'" class="col-xs-12">' +
              '<button type="button" class="close">×</button>'+
          '</div>'));
        });
        datum.setPhotos(photos);
        datum.transfer();
      }
    });
  });
</script>
{% endblock %}