{% extends "base.html" %}

{% block page-styles %}
{% style "/Swiper/dist/css/swiper.min.css" %}
{% style "/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}
{% endblock %}

{% block content %}

<div class="row">
  <!-- left form -->
  <div class="col-lg-6">
    <form class="form-horizontal jumbotron">
      <fieldset>
        <legend>信息填写</legend>
        <div class="form-group">
          <label for="bridegroom" class="col-lg-2 control-label">新郎</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="bridegroom" id="bridegroom" placeholder="新郎名字">
          </div>
        </div>
        <div class="form-group">
          <label for="bride" class="col-lg-2 control-label">新娘</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="bride" id="bride" placeholder="新郎名字">
            <!--<div class="checkbox">-->
              <!--<label>-->
                <!--<input type="checkbox"> Checkbox-->
              <!--</label>-->
            <!--</div>-->
            <!--<br>-->
            <!--<div class="togglebutton">-->
              <!--<label>-->
                <!--<input type="checkbox" checked=""> Toggle button-->
              <!--</label>-->
            <!--</div>-->
          </div>
        </div>
        <div class="form-group">
          <label for="date" class="col-lg-2 control-label">举办时间</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="date" id="date" placeholder="举办时间"/>
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">请柬内容</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputFile" class="col-lg-2 control-label">File</label>
          <div class="col-lg-10">
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
            <input type="file" id="inputFile" multiple="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Option one is this
              </label>
            </div>
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Selects</label>
          <div class="col-lg-10">
            <select class="form-control" id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <br>
            <select multiple="" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button class="btn btn-default">取消</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- right preview -->
  <div class="col-lg-6">

    <div class="row">
      <div class="phone">
        <div>
          <img class="phone-appearance" src="/img/snapshot_bg.png" alt="Snapshot"/>
        </div>

        <div class="phone-screen">
          <div style="width: 100%; height: 100%;position: relative;">

            <!-- top banner -->
            <div class="ic-header">
              <!-- Slider main container -->
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                  <div class="swiper-slide"></div>
                </div>
                <!--<div class="swiper-pagination"></div>-->
              </div>
              <div class="ic-header-names text-center">
                <span id="bridegroom-text">新郎名字</span>
                <span> & </span>
                <span id="bride-text">新娘名字</span>
              </div>
              <div class="ic-header-subtitle text-center">are getting married!</div>
            </div>

            <div class="ic-date-cd text-center clearfix">
              <div class="ceremony-title">The ceremony begins in:</div>
              <div style="margin-bottom: 10px;"><img src="/img/main-nav-divider.png"></div>
              <div class="number-count first">
                <div id="days" class="number-text">00</div>
              </div>
              <div class="number-count">
                <div id="hours" class="number-text">00</div>
              </div>
              <div class="number-count">
                <div id="minutes" class="number-text">00</div>
              </div>
              <div class="number-count">
                <div id="seconds" class="number-text">00</div>
              </div>
            </div>
            <div class="ic-location col-lg-10">
              <div>我们的婚礼由您见证更加幸福</div>
              <div>2015年2月24日[农历乙未年 戊寅月 辛未日]星期二</div>
              <div>恭请 各位 届时光临</div>
              <div>新郎：蒋文林</div>
              <div>新娘：唐佩</div>
            </div>

            <!-- bottom tabs -->
            <div style="bottom: 0;position: absolute; width: 100%;">
              <ul class="nav nav-tabs bottom-tabs">
                <li class="active"><a href="#home" data-toggle="tab">首页</a></li>
                <li><a href="#profile" data-toggle="tab">相册</a></li>
                <li><a href="#" data-toggle="tab">祝福</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block page-scripts %}
{% script "/Swiper/dist/js/swiper.min.js" %}
{% script "/js/moment-with-locales.js" %}
{% script "/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" %}
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal',
    loop: true,
    autoplay: 5000
//    pagination: '.swiper-pagination'
  })
  $(function() {
    $('#date').bootstrapMaterialDatePicker({ format : 'YYYY-MM-DD HH:mm' });
    $('#bridegroom').blur(function() {
      var text = $.trim($(this).val());
      if (text != '') {
        $('#bridegroom-text').text(text);
      }
    });
    $('#bride').blur(function() {
      var text = $.trim($(this).val());
      if (text != '') {
        $('#bride-text').text(text);
      }
    });
  });
</script>
{% endblock %}