{% extends "base.html" %}

{% block page-styles %}
{% style "/Swiper/dist/css/swiper.min.css" %}
{% endblock %}

{% block content %}

<div class="row">
  <!-- left form -->
  <div class="col-lg-6">
    <form class="form-horizontal jumbotron">
      <fieldset>
        <legend>信息填写</legend>
        <div class="form-group">
          <label for="bridegroom" class="col-lg-2 control-label">新郎</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="bridegroom" id="bridegroom" placeholder="新郎名字">
          </div>
        </div>
        <div class="form-group">
          <label for="bride" class="col-lg-2 control-label">新娘</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="bride" id="bride" placeholder="新郎名字">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Checkbox
              </label>
            </div>
            <br>
            <div class="togglebutton">
              <label>
                <input type="checkbox" checked=""> Toggle button
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputFile" class="col-lg-2 control-label">File</label>
          <div class="col-lg-10">
            <input type="text" readonly="" class="form-control floating-label" placeholder="Browse...">
            <input type="file" id="inputFile" multiple="">
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Textarea</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Option one is this
              </label>
            </div>
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Selects</label>
          <div class="col-lg-10">
            <select class="form-control" id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <br>
            <select multiple="" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6 col-lg-offset-6">
            <button class="btn btn-default">取消</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <!-- right preview -->
  <div class="col-lg-6">

    <div class="row">
      <div class="phone" style="">
        <div>
          <img class="phone-appearance" src="/img/snapshot_bg.png" alt="Snapshot"/>
        </div>

        <div class="phone-screen">
          <!--<iframe src="/preview/{{type}}" style="width: 100%; height: 100%;" frameborder="0"></iframe>-->
          <div style="width: 100%; height: 100%;position: relative;">

            <!-- top banner -->
            <div class="top-banner">
              <!-- Slider main container -->
              <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">Slide 1</div>
                  <div class="swiper-slide">Slide 2</div>
                  <div class="swiper-slide">Slide 3</div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->

                <!-- If we need scrollbar -->
                <!--<div class="swiper-scrollbar"></div>-->
              </div>
            </div>

            <!-- bottom tabs -->
            <div style="bottom: 0;position: absolute;">
              <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                <li><a href="#profile" data-toggle="tab">Profile</a></li>
                <li><a>Disabled</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block page-scripts %}
{% script "/Swiper/dist/js/swiper.min.js" %}
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,

    autoplay: 5000,

    // If we need pagination
    pagination: '.swiper-pagination'

    // Navigation arrows
//    nextButton: '.swiper-button-next',
//    prevButton: '.swiper-button-prev'

    // And if we need scrollbar
//    scrollbar: '.swiper-scrollbar',
  })
</script>
{% endblock %}