html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #ffffff;
}

.mobile-container {
  position: relative;
}

.phone {
  position: relative;
  width: 360px;
  margin: 0 auto;
}
.phone .phone-appearance {
  width: 100%;
}
.phone-screen {
  position: absolute;
  width: 320px;
  margin: 85px auto;
  background: #ffffff;
  top: 0;
  clear: both;
  left: 20px;
  height: 564px;
}
.phone-screen-wrap {
  width: 100%; height: 100%;position: relative;
}

.preview-frame {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 320px;
  height: 240px;
}

/* ic for invitation card */
.ic-header {
  position: relative;
}

.ic-header-names {
  position: absolute;
  top: 30%;
  width: 100%;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.ic-header-subtitle {
  position: absolute;
  top: 55%;
  width: 100%;
  font-family: 'Great Vibes', cursive;
  font-size: 1.2em;
}

.ic-date-cd {
  margin-top: 10px;
}
.ic-date-cd .ceremony-title {
  margin-bottom:0px;font-family: 'Pacifico', cursive;color: #dd675b; font-size: 1.2em;
}
.ic-date-cd .number-count {
  width: 50px;
  height: 45px;
  background: url("/img/heart.png") no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  margin-left: 22px;
  display: inline-block;
}
.ic-date-cd .number-count.first {
  margin-left: 0;
}
.ic-date-cd .number-count .number-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -14px;
  margin-left: -7px;
  font-weight: bold;
  color: #ffffff;
}
.ic-location {
  margin-top: 10px;
}

.bottom-tabs li {
  width: 33.333333%;
  text-align: center;
}